footer {
  background-color: #000;
}
footer .container-fluid {
  padding: 68px 108px 56px 108px;
}

@media (max-width: 767.98px) {
  footer .container-fluid {
    padding: 60px 90px 40px 89px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  footer .container-fluid {
    padding: 60px 70px 40px 70px;
  }
}
footer .logo {
  padding-top: 4px;
}
@media (max-width: 767.98px) {
  footer .logo {
    padding-top: 0px;
    text-align: center;
  }
}

footer .tel {
  font-family: Eina03;
  font-size: 17px;
  line-height: 1.65;
  text-align: center;
  color: #edb15d;
}
@media (max-width: 767.98px) {
  footer .tel {
    margin: auto;
    margin-top: 19px;
  }
}

footer .tel a {
  font-family: Eina03;
  font-size: 17px;
  line-height: 1.65;
  text-align: center;
  color: #edb15d;
  text-decoration: none;
}

footer .follow {
  font-family: Eina03;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.23;
  letter-spacing: 0.5px;
  color: #ffffff;
}
@media (max-width: 767.98px) {
  footer .follow {
    margin: auto;
    margin-top: 48px;
  }
}

footer .follow h6 {
  font-family: Eina03;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.23;
  letter-spacing: 0.5px;
  color: #ffffff;
  margin-bottom: 28px;
}
@media (max-width: 767.98px) {
  footer .follow h6 {
    text-align: center;
  }
}

footer .first-menu {
  margin-top: 60px;
}
@media (max-width: 767.98px) {
  footer .first-menu {
    margin-top: 44px;
    text-align: center;
  }
}
footer .first-menu nav {
  margin-right: 12px;
}
@media (max-width: 767.98px) {
  footer .first-menu nav {
    margin-right: 0px;
  }
}

footer nav a.nav-link {
  padding: 0 0;
}

footer .first-menu nav .products,
footer .first-menu nav .online,
footer .first-menu nav .new {
  font-family: Eina03;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.23;
  letter-spacing: 0.5px;
  color: #ffffff;
}

footer .first-menu nav .online,
footer .first-menu nav .new {
  margin-top: 16px;
}

@media (max-width: 767.98px) {
  footer .first-menu nav .online,
  footer .first-menu nav .new {
    margin-top: 20px;
  }
}

footer .second-menu {
  margin-top: 60px;
  padding-left: 15px;
}
@media (max-width: 767.98px) {
  footer .second-menu {
    margin-top: 20px;
    padding-left: 0;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1991.98px) {
  footer .second-menu {
    margin-top: 20px;
    padding-left: 0;
    text-align: left;
  }
}

footer .second-menu nav .find,
footer .second-menu nav .about,
footer .second-menu nav .contact {
  font-family: Eina03;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.23;
  letter-spacing: 0.5px;
  color: #ffffff;
}

footer .second-menu nav .about,
footer .second-menu nav .contact {
  margin-top: 16px;
}
@media (max-width: 767.98px) {
  footer .second-menu nav .about,
  footer .second-menu nav .contact {
    margin-top: 20px;
  }
}

@media (max-width: 767.98px) {
  footer .priv {
    margin: auto;
  }
}

footer .priv a {
  font-family: Eina03;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.51px;
  color: #ffffff;
  text-decoration: none;
}

footer .copy h6 {
  margin-top: 40px;
  margin-bottom: 0;
  font-family: Eina03;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.51px;
  color: #ffffff;
}
@media (max-width: 767.98px) {
  footer .copy {
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  footer .copy h6 {
    margin-top: 16px;
  }
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .social-icon {
    margin: 30px auto 40px auto;
  }
}
@media (min-width: 991.98px) {
  footer .social-icon {
    width: 100%;
  }
}

footer .icon {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 767.98px) {
  footer .icon {
    margin-top: 0px;
    margin: auto;
  }
}

footer .icon a {
  display: block;
}

@media (max-width: 767.98px) {
  footer .icon a:not(:last-of-type) {
    padding-right: 29px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  footer .icon a:not(:last-of-type) {
    padding-right: 26px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  footer .icon a:not(:last-of-type) {
    padding-right: 0px;
  }
}
